config.defs
build
build.dev
build.rel
build.mkl
build.mic
build.min
build.minimal
build.nasty
build.cov
build-ci
compile_commands.json
dash/include/dash/util/StaticConfig.h
*.o
*.a
*.so
*~
*.swp
*.swo
*#
*.log
*.out
ipm/*/GEN.*
my.*.sh
.syntastic*
.clang*
tags
*.orig*
*.bac*
RELEASE/*
dash/include/dash/util/StaticConfig.h
.includes
.ctagsignore
.gutctags
cscope.files
.ycm_*
