build
*.o
*.a
*~
*.swp
*.swo
dart-impl/shmem/dart-shmem/dartrun
dash/dash-test/test.00.cart/cart
dash/dash-test/test.00.view/view
dash/dash-test/test.01.hello/hello
dash/dash-test/test.02.teams/teams
dash/dash-test/test.03.globref/globref
dash/dash-test/test.04.array/array
dash/dash-test/test.05.teams/teams
dash/dash-test/test.06.array-team/array-team
dash/dash-test/test.07.stdalgo/stdalgo
dash/dash-test/test.01.team-all/team-all
dash/dash-test/test.02.cart/cart
dash/dash-test/test.02.view/view
dash/dash-test/test.03.team-prop/team-prop
dash/dash-test/test.03.team-split/team-split
dash/dash-test/test.03.team-split2/team-split2
dash/dash-test/test.04.globref-struct/globref-struct
dash/dash-test/test.04.globref/globref
dash/dash-test/test.04.memalloc/memalloc
dash/dash-test/test.05.array-local/array-local
dash/dash-test/test.05.array/array
dash/dash-test/test.05.array2/array2
dash/dash-test/test.06.array-pat/array-pat
dash/dash-test/test.06.array-pat2/array-pat2
dash/dash-test/test.06.pattern/pattern
dash/dash-test/test.07.rangefor-local/rangefor-local
dash/dash-test/test.07.rangefor/rangefor
dash/dash-test/test.08.stdalgo/stdalgo
dash/dash-test/test.09.shared/shared
